<!DOCTYPE html>
<html>
<head>
	<title>Next 5 Races</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<style type="text/css">
		body {
			font-family: sans-serif;
			color: #444;
		}
		.tabs { 
			margin-bottom: 1em;
		}
		.tabs * {
			padding: 1em;
			padding-left: 0;
		}
		.tabs span.on {
			font-weight: bold;
		}
		.races {
			max-width: 25%;
			min-width: 30ex;
			float: left;
			margin: 0 0.5em 1em 0;
		}
		.races > div {
			border: solid 1px #aaa;
			margin: 0.4em 0;
			padding: 0.2em;
		}
	</style>
</head>
<body>
	<div id="next5">
		<div class="tabs" v-if="showing === 'mixed'">
			<span class="on">Mixed</span><a href="#" v-on:click="show('split')">Split</a>
		</div>	
		<div class="tabs" v-else>
			<a href="#" v-on:click="show('mixed')">Mixed</a><span class="on">Split</span>
		</div>
		<div class="races" v-if="showing === 'mixed'">
			<div v-for="race in next5Mixed">
				<a-race :race="race"></a-race>
			</div>
		</div>
		<div v-else>
			<div class="races" v-for="raceType in next5Split.types">
				<strong><a-racetypestring :race-type="raceType"></a-racetypestring></strong>
				<div v-for="race in next5Split[raceType]">
					<a-race :race="race"></a-race>
				</div>
			</div>
		</div>
	</div>

	<script>
	
		// race component
		var Race = {
			template: `<div>
				{{ niceTimeUntilRace }}<br>
				Race {{ race.raceNumber }}<br>
				{{ race.meeting.meetingName }} ({{ race.meeting.location }})<br>
				</div>
			`,
			props: [ 'race' ],
			computed: {
				secondsUntilRace: function () {
					raceStartTime = Math.round(Date.parse(this.race.raceStartTime) / 1000);
					var now = Math.round((new Date()).getTime() / 1000);
					var seconds = raceStartTime - now;
					return seconds;
				},
				niceTimeUntilRace: function () {
					var seconds = this.secondsUntilRace;
					var hours = Math.floor(seconds / 3600);
					if (hours < 0)
						hours = 0;
					var minutes = Math.floor((seconds - (hours * 3600)) / 60);
					var niceTime = minutes + 'm';
					if (hours > 0)
						niceTime = hours + 'h ' + niceTime;
					return niceTime;
				}
		
			}
		}
		var RaceType = {
			template: '<div>{{ this.raceTypeString }}</div>',
			props: [ 'raceType' ],
			computed: {
				raceTypeString: function () {
					switch (this.raceType.toUpperCase()) {
						case 'R':
							return 'Thoroughbred';
						case 'G':
							return 'Greyhounds';
						case 'H':
							return 'Harness';
					}
				}
			}
		}

		var next5 = new Vue({
			el: '#next5',
			data: {
				listName: 'Next 5 Races',
				apiURL: './races/',
				races: [],
				showing: 'mixed',
			},
			created: function () {
				this.fetchData();
				self = this;
				setInterval(function () { self.fetchData(); }, 60 * 1000);
			},
			computed: {
				next5Split: function () {
					var racesSplit = { types: [] };
					this.races.map(function (race) {
						if (typeof racesSplit[race.meeting.raceType] === 'undefined') {
							racesSplit[race.meeting.raceType] = [];
							racesSplit.types.push(race.meeting.raceType);
						}
						if (racesSplit[race.meeting.raceType].length < 5) {
							var racetime = Date.parse(race.raceStartTime);
							var now = (new Date()).getTime();
							if (racetime > now)
								racesSplit[race.meeting.raceType].push(race);
						}
					});
					return racesSplit;
				},
				next5Mixed: function () {
					var r = 0;
					var racesMixed = [];
					while (r < this.races.length && racesMixed.length < 5) {
						var racetime = Date.parse(this.races[r].raceStartTime);
						var now = (new Date()).getTime();
						if (racetime > now)
							racesMixed.push(this.races[r]);
						r++;
					}
					return racesMixed;
				}
			},
			methods: {
				fetchData: function () {
					var xhr = new XMLHttpRequest();
					var self = this;
					xhr.open('GET', this.apiURL);
					xhr.onload = function () {
						var r = JSON.parse(xhr.responseText);
						if (r && r.races) {
							self.races = r.races;
							// sort by start time order
							self.races.sort(function (a,b) {
								return Date.parse(a.raceStartTime) - Date.parse(b.raceStartTime);
							});
						}
					}
					xhr.send();
				},
				show: function (mixedOrSplit) {
					this.showing = mixedOrSplit; //==='split' ? this.next5Split() : this.next5Mixed();
				}
			},
			components: {
				'a-race': Race,
				'a-racetypestring': RaceType
			}
		});


	</script>
</body>
</html>
