<!DOCTYPE html>
<html>
<head>
	<title>Next 5 Races</title>
	<script src="https://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
	<div id="next5">
		<div v-if="next5==='mixed'">
			Mixed <a href="#" v-on:click="show('split')">Split</a>
		</div>	
		<div v-else>
			<a href="#" v-on:click="show('mixed')">Mixed</a> Split
		</div>
		<div v-if="next5==='mixed'">
			<div v-for="race in next5Mixed">
				{{ race.raceStartTime }}
			</div>
		</div>
		<div v-else>
			<div v-for="raceType in next5Split.types">
				<strong>{{ raceTypeString(raceType) }}</strong>
				<div v-for="race in next5Split[raceType]">
					{{ race.raceStartTime }} {{ race.meeting.location }}
				</div>
			</div>
		</div>
	</div>

	<script>
		var next5 = new Vue({
			el: '#next5',
			data: {
				listName: 'Next 5 Races',
				apiURL: './races/',
				races: [],
				next5: 'mixed',
			},
			created: function () {
				this.fetchData();
			},
			computed: {
				next5Split: function () {
					var racesSplit = { types: [] };
					this.races.map(function (race) {
						var raceType = race.meeting.raceType.toLowerCase();
						if (typeof racesSplit[raceType] === 'undefined') {
							racesSplit[raceType] = [];
							racesSplit.types.push(raceType);
						}
						if (racesSplit[raceType].length < 5) {
							racesSplit[raceType].push(race);
						}
					});
					console.log(racesSplit);
					return racesSplit;
				},
				next5Mixed: function () {
					return this.races.slice(0,5);
				}
			},
			methods: {
				fetchData: function () {
					var xhr = new XMLHttpRequest();
					var self = this;
					xhr.open('GET', this.apiURL);
					xhr.onload = function () {
						var r = JSON.parse(xhr.responseText);
						if (r && r.races) {
							self.races = r.races;
							// sort by start time order
							self.races.sort(function (a,b) {
								return Date.parse(a.raceStartTime) - Date.parse(b.raceStartTime);
							});
						}
					}
					xhr.send();
				},
				show: function (mixedOrSplit) {
					this.next5 = mixedOrSplit; //==='split' ? this.next5Split() : this.next5Mixed();
				},
				raceTypeString: function (raceTypeCode) {
					switch (raceTypeCode.toUpperCase()) {
						case 'R':
							return 'Racing';
						case 'G':
							return 'Greyhounds';
						case 'H':
							return 'Harness';
					}
				}
			}
		})
	</script>
</body>
</html>
